<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"> 
	<title>Document</title>
		
	<link rel="stylesheet" href="css/style.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- scripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="scripts/angular-local-storage.js"></script>
	<!-- scripts end -->

</head> 
<body>

<script>
var app = angular.module("myApp", ['LocalStorageModule']);

///////////////////////////////////////////SERVICE////////////////////////////////////////////////
app.service('myService', function( localStorageService ){
	var items = [],
	    timeLast = '';

	// Сохранение задачи в  локальное хранилище
	this.localStorageSetTask = function(Key, task) { 
 		var Val = [];

 		if(task.length){ 
 			Val = task;
 			localStorageService.set(Key, Val);
 		}else{ 								
 			Val.push(task);
 			localStorageService.set(Key, Val);
 		}

 		this.localStorageGetTask(Key);  
 	};


 	// Выгурузка задачи с локального хранилища
 	this.localStorageGetTask = function(Key) { 
  	items = localStorageService.get(Key);
  	return items;
  }

  // Сохранение последнего значения со счетчика времени в локальное хранилище
	this.localStorageSetLastTime = function(Key, time) { 
 		var Val = [];

 		if(time){ 
 			Val = time;
 			localStorageService.set(Key, Val);
 		}else{ 								
 			Val.push(time);
 			localStorageService.set(Key, Val);
 		}

 		this.localStorageGetLastTime(Key);  
 	};

 	// Выгрузка последнего значения со счетчика времени с локального хранилища
 	this.localStorageGetLastTime = function(Key) { 
  	timeLast = localStorageService.get(Key);
  	return timeLast;
  }

});

///////////////////////////////////////////CONTROLLER////////////////////////////////////////////////
app.controller("myCtrl", function($scope, $interval, $timeout, myService) {

 	KeyItems = 'items'; 
 	KeyTimeLast = 'timeLast';


 	// Инницируем пустой список
 	$scope.items = []; 

 	// Помещаем в скоуп стандартное значение счетчика времени
 	$scope.timeOnTimer =  myService.localStorageGetLastTime(KeyTimeLast);
 	if(!$scope.timeOnTimer) {
 		$scope.timeOnTimer = '00:00:00';
 	}


 	// Помещаем в скоуп стандартное значение накопленного времени
 	$scope.timeOnTimerSum = '00:00:00';

 	// Добавление новой задачи
 	$scope.addNewTask = function(task) { 
 		if(!task){  
	 		var taskName = ' ',
	 				money = 0;
	 	}else{			
	 		var taskName = task.name,
	 				money = task.money;
	 	}
 		
 		$scope.items = {
	 		'timeAll' : '00:00:00',
	 		'moneyAll' : 0,
	 		'task' : {
	 			'name': taskName,
	 			'money': money
 			}
 		}

 		myService.localStorageSetTask(KeyItems, $scope.items);
 		$scope.items = myService.localStorageGetTask(KeyItems);

 		// Очищаем  список значений формы постановки задачи
 		$scope.task = []; 
 	};

 	// Запуск счетчика времени
 	$scope.startTimeCounter = function() { 

		var timer = 0, 
		    hour = 0,
		    minute = 0,
		    second = 0,
		    timeLast = $scope.timeOnTimer;

		// Условие: если в локальном хранилище уже есть прежнее значение, то берем его и пересчитываем в секунды.
		if(timeLast != '00:00:00') {
			console.log('timeLast:::' + timeLast);
			var time = timeLast.split(/:/),
			    hourLast = parseInt(time[0]),
			    minuteLast = parseInt(time[1]),
			    secondLast = parseInt(time[2]);
			    timer = (hourLast * 3600) + (minuteLast * 60) + secondLast;
		}


		// Делаем кнопку "Start" недоступной
 		$scope.startSwitch = true;

		$scope.incrementCounter = $interval( function() {
		  ++timer;
		  hour   = Math.floor(timer / 3600);
		  minute = Math.floor((timer - hour * 3600) / 60);
		  second = timer - hour * 3600 - minute * 60;
		  if (hour < 10) hour = '0' + hour;
		  if (minute < 10) minute = '0' + minute;
		  if (second < 10) second = '0' + second;
		  $scope.timeOnTimer = hour + ':' + minute + ':' + second;

		  // Постоянно пишем последнее значение счетчика в локальное хранилище
		  myService.localStorageSetLastTime(KeyTimeLast, $scope.timeOnTimer);
		}, 1000);

 	};


	// Остановка счетчика времени
	$scope.stopTimeCounter = function() { 

		if (angular.isDefined($scope.incrementCounter)) {
      $interval.cancel($scope.incrementCounter);
    }

		// Получение "общего времени на выполнение задачи"
		$scope.getSummTime($scope.timeOnTimer); 
		$scope.startSwitch = false;

		var items = $scope.items,
		    timeAll = $scope.timeOnTimerSum,

		// Получение "суммы за время потраченное на выполнение задачи"
				moneyAll = $scope.getAllMoneySumm(); 

		for (var i = 0; i < items.length; i++) {
			item = items[i]; 
			item.timeAll = timeAll;
			item.moneyAll = moneyAll;
		};

		// Сохранение результата
		myService.localStorageSetTask(KeyItems, $scope.items); 

		// Обнуляем последнее значение счетчика
		$scope.timeOnTimer = '00:00:00';
	 	myService.localStorageSetLastTime(KeyTimeLast, $scope.timeOnTimer);	
	};

 	$scope.$on('$destroy', function() {
    $scope.stopTimeCounter();
  });


 	// Суммирование времени потраченого сейчас с временем потраченым до.
 	$scope.getSummTime = function(time) { 
 		var items = $scope.items,
 		    sumTime = '';

 		// Получаем и режем на "часы", "минуты", "секунды" значение общего времени с локального хранилища 
 		sumTime = $scope.items[0].timeAll.split(/:/);

 		// Режем полученное время с счетчика времени
 		var newTime = time.split(/:/),
	   	    hour = parseInt(sumTime[0])+parseInt(newTime[0]),
		    minute = parseInt(sumTime[1])+parseInt(newTime[1]),
		    second = parseInt(sumTime[2])+parseInt(newTime[2]),
		    timer = (hour * 3600) + (minute * 60) + second;

	  hour   = Math.floor(timer / 3600);
	  minute = Math.floor((timer - hour * 3600) / 60);
	  second = timer - hour * 3600 - minute * 60;
	  if (hour < 10) hour = '0' + hour;
	  if (minute < 10) minute = '0' + minute;
	  if (second < 10) second = '0' + second;

		$scope.timeOnTimerSum = hour + ':' + minute + ':' + second;
 	}; 

 	// Получить сумму денег полученую за отработаное время
 	$scope.getAllMoneySumm = function() { 

 				// Получаем оплату в час
 		var moneyInHour = $scope.items[0].task.money,

 		    // Получаем значение общего времени с локального хранилища 
 		    sumTime = $scope.timeOnTimerSum.split(/:/),

 		    /**
 		     * Высчитываем полученную сумму  по формулее: 
 		     * (сумма за час * отработаные часы) + (суммы за час / кол-во минут в часе * отработаные минуты)
 		     */
 		    summAll = (parseInt(sumTime[0]) * parseInt(moneyInHour)) + (parseInt(moneyInHour) / 60 * parseInt(sumTime[1]));
 		return summAll.toFixed(2);
 	};

 	// Редактирование поставленной задачи
 	$scope.changeTask = function(item) { 
 		myService.localStorageSetTask(KeyItems, item);
 		$scope.items = myService.localStorageGetTask(KeyItems);
 	};

  $scope.items = myService.localStorageGetTask(KeyItems);
});
 
</script>

<div ng-app="myApp" ng-controller="myCtrl">

	<div class="container">
		<div class="row">
			<div class="col-md-3 ">
				<p class="lead">Set Task!</p>
	 			<div class="main-left-b"> 
	 				<form class="form-horizontal">
						  <div class="form-group">
						    <label for="inputAddTask">Task:</label>
					      <input type="text" class="form-control" id="inputAddTask" ng-model="task.name">
						  </div>

						  <div class="form-group">
						    <label for="inputAddPay">Pay(in hour):</label>
						    <div class="input-group">
						      <input type="number" class="form-control" id="inputAddPay" ng-model="task.money">
						      <div class="input-group-addon">RUB</div>
						    </div>  
						  </div>

		 					<button type="button" class="btn btn-default" ng-click="addNewTask(task)">ADD</button>
					</form>
	 			</div>
			</div>
			
			<div class="col-md-3"></div>

			<div class="col-md-6 ">
				<p class="lead">Task info list</p>
	 			<ul>
	 				<li ng-show="!items" class="alert alert-info" role="alert">Task info list is empty!</li>
	 				<li ng-repeat="item in items"> 
	 					<div> Task: <input  type="text" class="form-control" ng-show="change" ng-model="item.task.name"> <span ng-show="!change">{{item.task.name}}</span> </div>
	 					<div> 
	 						Time left: {{timeOnTimer}} 
	 						<button type="button" class="btn btn-default" ng-disabled="startSwitch" ng-click="startTimeCounter()">Start</button> 
	 						<button type="button" class="btn btn-default" ng-click="stopTimeCounter()">Stop</button>
	 					</div>
						<div> Pay:  <input type="number" class="form-control" ng-show="change" ng-model="item.task.money"> <span ng-show="!change">{{item.task.money}}</span> </div>
						<div>All time: {{item.timeAll}}</div>
						<div>All money: {{item.moneyAll}} rub.</div>
						<button type="button" class="btn btn-default" ng-show="!change" ng-click="change = true">Change Task</button>
						<button type="button" class="btn btn-default" ng-show="change" ng-click="changeTask(item)">Change</button>
	 				</li> 
	 			</ul>
	 
			</div> 
		</div>	
	</div><!-- container -->
	
</div><!-- MyApp -->


</body>
</html>
